<?xml version="1.0"?>
<configuration>
  <!--<appSettings>
    <add key="BaseDir" value="C:\BetmakerTP\Conexion\Logs\"/>
    <add key="FileName" value="logDisp.log"/>
    <add key="MaxSizeFile" value="30720"/>
    <add key="NumeringWithSequential" value="false"/>
    <add key="LevelLog" value="DEBUG"/>
    <add key="LimHorario-Minutos" value="7"/>    
    --><!-- DEBUG, WARNING, ERROR, NORMAL, NOTHING --><!--
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
