<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Registro_DirectorioBase" value="C:\ModuloCom\Conexion\Logs\"/>
    <add key="Registro_NombreArchivo" value="logDisp.log"/>
    <add key="Registro_LongitudMaxima" value="30720"/>
    <add key="Registro_NumeracionSecuencial" value="false"/>
    <add key="Registro_Nivel" value="DEBUG"/> <!-- DEBUG, NORMAL, WARNING, ERROR, NOTHING -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
